* {
    margin: 0;
    padding: 0;
}

.carrousel {
    margin: 2px;
    padding: 2px;
    
}

.btn-group {
    display: flex;
    gap: 325px;
} 
 
.Container {
    text-align: center;
}


#prevBtn , #nextBtn {
    margin-bottom: 20px;
}


.caption {
    position: absolute;
    top: 30%;
    left: 5%;
    text-align: center;
    color: white;
    align-content: center;
}

.caption  p {
     text-align: center;
     align-content: center;
     align-content: center;
}


.color-p  {
    margin-top: 30px;
}


button {
    color: white;
    font-size: 60px;
    background: none;
    border: none;
    position: absolute;
    top: 26%;
    text-align: center;
} 

.carrousel #carrouselImage {
    width: 100%;
    height: 200px;
}

.container {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between
}

header img {
    width: 210px;
}


header a {
    text-decoration: none;
    color: white;
    font-size: 15x;
    margin: 15px;
    position: relative;
    top: 25px;
}

.btn-devis {
    padding: 15px;
    border-radius: 8px;
    height: 40px;
    background-color: #CD006B;
}

.main-content {
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-around;
    justify-content: center;
}

.main-content img {
    width: 320px;
    border-radius: 8px;
}

.main-content h2 {
    margin-bottom: 15px;
}


.main-content  p {
    max-width: 650px;
    margin-right: 50px;
}

br {
    display: none;
}

.color-p {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
} 

.color-p img {
    width: 18px;
    height: 25px;
}

/* Aside content */
.yellow-book-content {
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.yellow-book-content img {
    width: 320px;
    border-radius: 8px;
}

.yellow-book-content p {
    font-size: 20px;
    margin-top:18px ;
}

.question-content {
    text-align: center;
    align-items: center;
    margin: 10px;
    background-color: #eee325;
    padding-bottom: 78px;
    width: 330px;
    border-radius: 8px;
}

.questions {
    margin-top: 30px;
}

.devis-btn {
    position: relative;
    top: 25px;
    padding: 14px 20px;
    border-radius: 8px;
    background-color: #CD006B;;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* The call section  */
.call-content {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.call-content p {
    margin: 15px;
}

.call-section {
    text-align: center;
    margin: 20px;
    padding: 15px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
}


.contact-container img {
    width: 348px;
    margin: 10px;
    border-radius: 20px;
}

.contact-section h1 {
    margin: 20px;
}


.phone-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.email {
    display: flex;
    flex-direction: row;
    gap: 35px;
    margin-top: 40px;
}

.content {
    margin: 20px;
}


.content h2 {
    font-size: 18px;
}


.shop {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 40px;
}

.phone {
    display: flex;
    flex-direction: row;
    gap: 47px;
    margin-top: 30px;
}

.write-btn {
    padding: 14px 20px;
    border-radius: 8px;
    background-color: black ;
}

.contact-section{
 background-color: #3396c0 ;
}

.phone-color {
    display: flex;
    gap: 10px;
}

.shop-color {
    display: flex;
    gap: 10px;
}

.mail-color {
    display: flex;
    gap: 10px;
}

.couleur img{
    width: 18px;
    height: 15px;
}


.write {
    padding: 14px 20px;
    border-radius: 8px;
    background-color: #3396c0 ;
}

.devis {
    padding: 14px 10px;
    border-radius: 8px;
    background-color: #CD006B;
}


.links {
    display: flex;
    flex-direction: row;
    gap: 24px;
}


.footer-content {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-content p, .title {
    color: white;
}

.logo-footer img {
    width: 250px;
    color: white;
}

footer {
    background-color:#28363d  ;
}

/* The media query styles  */
@media screen and (min-width : 780px){

.btn-group {
    display: flex;
    gap: 1296px;
    margin-right: 30px;
    padding: 10px;
} 

.caption {
  position: absolute;
  top: 39%;
  right: 4%;
  color: white;
  text-align: center;
  font-size: 28px;
}

.caption  p {
    font-size: 25px;
}


button {
    font-size: 90px;
    background: none;
    position: absolute;
    top: 38%;
    text-align: center;
    cursor: pointer;
} 


.carrousel #carrouselImage {
    width: 100%;
    height: 450px;
}

br {
    display: block;
}

.container {
    margin: 15px;
    padding: 5px;
}

.container img {
    width: 250px;
}

.main-content  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    padding: 20px;
}

.main-content h1 {
    font-size: 2.3em;
    margin-left: 40px;
    margin-bottom: 23px;
}

.color-p img {
    width: 25px;
    height: 30px;
    position: relative;
    left: 10px;
    bottom: 2px;
}

.color-p  {
    position: relative;
    top: 10px;
}

.main-content p {
    font-size: 20px;
    margin-right: 50px;
}

.image-content img {
    width: 570px;
    height: 400px;
    margin-right: 18px;
    position: relative;
    bottom: 20px;
    border-radius: 10px;
}


.yellow-book-content {
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap: 90px;
    justify-content: space-evenly;
}

.yellow-book-content h1 {
    font-size: 2.5em;
}

.yellow-book-content img {
    width: 575px;
    border-radius: 8px;
}

.yellow-book-content p {
    width: 400px;
}

.question-content {
    padding-bottom: 90px;
    align-content: center;
    text-align: center;
    width: 99%;
}

.questions {
    margin-top: 50px;
}

.question-content h2 {
    font-size: 2.7em;
    margin-bottom: 13px;
}

.question-content p {
    font-size: 16px;
}


/* The call section  */
.call-content {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.call-content p {
    width: 316px;
}

.call-section {
    margin: 70px;
    text-align: center;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 10px;
}

.contact-container img {
    width: 575px;
    border-radius: 20px;
}

.phone-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.email-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.shop-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.email {
    display: flex;
    flex-direction: row;
    gap: 63px;
    margin-top: 30px;
}

.shop {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 30px;
}

.contact-section h1 {
    position: relative;
    top: 15px;
}

.phone {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.couleur img{
    width: 22px;
    height: 22px;
    position: relative;
    top: -6px;
}


.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin-top: 60px;
    position: relative;
    top: 37px;
}

.title {
    position: relative;
    bottom: 30px;
}

.title-para {
    margin-bottom: 17px;
}

footer {
    padding-bottom: 80px;
    margin-bottom: 5px;
}
}